<section data-ng-controller="ProductsController">
	<div class="page-header">
		<h1>New Product</h1>
	</div>
	<div class="col-md-12" data>
		<form name="productForm" class="form-horizontal" data-ng-submit="create()" novalidate>
			<fieldset>
				<div class="form-group" ng-class="{ 'has-error': productForm.title.$dirty && productForm.title.$invalid }">
					<label class="control-label" for="title">Title</label>
					<div class="controls">
						<input name="title" type="text" data-ng-model="title" id="title" class="form-control" placeholder="Title" required>
				    </div>
				</div>
				<div class="form-group">
					<label class="control-label" for="category">Category</label>
					<div class="controls">
						 <select data-ng-hide="show_input" data-ng-model="default_category" data-ng-options="cat for cat in categories"></select>
						 <input data-ng-show="show_input" name="category" type="text" data-ng-model="selected_category"  class="form-control" required>
					</div>
					<a ng-click="show_input=!show_input" data-ng-hide="show_input">Create a new Category</a>
					<a ng-click="show_input=!show_input" data-ng-show="show_input">Use an existing Category</a>
				</div>
				<div class="form-group">
					<label class="control-label" for="Price">Price</label>
					<div class="controls">
						<input name="price" type="text" data-ng-model="price" id="price" class="form-control" >
					</div>
				</div>
				
				<!-- need to add form for each field
				<div class="form-group">
					<label class="control-label" for="content">Content</label>
					<div class="controls">
						<textarea name="content" data-ng-model="content" id="content" class="form-control" cols="30" rows="10" placeholder="Content"></textarea>
					</div>
				</div>
				-->
				<div class="form-group">
					<input type="submit" class="btn btn-default">
				</div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</fieldset>
		</form>
	</div>
</section>