<section data-ng-controller="ProductsController" data-ng-init="findOne()">
	<div class="page-header">
		<h1>Edit Product</h1>
	</div>
	<div class="col-md-12">
		<form name="productForm" class="form-horizontal" data-ng-submit="update(productForm.$valid)" novalidate>
			<fieldset>
				<div class="form-group" ng-class="{ 'has-error' : submitted && productForm.title.$invalid}">
					<label class="control-label" for="title">Title</label>
					<div class="controls">
						<input name="title" type="text" data-ng-model="product.title" id="title" class="form-control" placeholder="Title" required>
					</div>
					<div ng-show="submitted && productForm.title.$invalid" class="help-block">
						<p ng-show="productForm.title.$error.required" class="text-danger">Title is required</p>
					</div>
					<label class="control-label" for="category">Category</label>
					<div class="controls">
						<input name="category" type="text" data-ng-model="product.category" id="category" class="form-control" placeholder="Category">
					</div>
					<label class="control-label" for="Price">Price</label>
					<div class="controls">
						<input name="price" type="text" data-ng-model="product.pricing.retail" id="price" class="form-control" >
					</div>
				</div>
				<!-- Need to add fields
				<div class="form-group" ng-class="{ 'has-error' : submitted && articleForm.content.$invalid}">
					<label class="control-label" for="content">Content</label>
					<div class="controls">
						<textarea name="content" data-ng-model="article.content" id="content" class="form-control" cols="30" rows="10" placeholder="Content" required></textarea>
					</div>
					<div ng-show="submitted && articleForm.content.$invalid" class="help-block">
						<p ng-show="articleForm.content.$error.required" class="text-danger">Content is required</p>
					</div>
				</div>
				-->
				<div class="form-group">
					<input type="submit" value="Update" class="btn btn-default">
				</div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</fieldset>
		</form>
	</div>
</section>