<section data-ng-controller="ProductsController" data-ng-init="find()">
	<div class="page-header">
		<h1>Products</h1>
	</div>
	<div class="list-group">
		<a data-ng-repeat="product in products" data-ng-href="#!/products/{{product._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Title
				<span data-ng-bind="product.title"></span>
			</small>
			<small class="list-group-item-text">
				Category
				<span data-ng-bind="product._category.title"></span>
			</small>
			<small class="list-group-item-text">
				Price
				<span data-ng-bind="product.pricing.retail"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="product.title"></h4>
			<p class="list-group-item-text" data-ng-bind="product.content"></p>
		</a>
	</div>
	
	<table st-table="rowCollection" class="table table-striped">
	<thead>
	<tr>
		<th>name</th>
		<th>category</th>
	</tr>
	</thead>
	<tbody>
	<tr ng-repeat="product in products">
		<td data-ng-bind="product.title"></td>
		<td data-ng-bind="product.category"></td>
	</tr>
	<tr ng-repeat="category in categories">
		<td data-ng-bind="category"></td>
	</tr>
	</tbody>
</table>
	
	
	
	<!-- Below doesn't work -->
	<div class="alert alert-warning text-center" data-ng-if="products.$resolved && !products.length">
		No products yet, why don't you <a href="/#!/products/create">create one</a>?
	</div>
</section>